{% extends "nezabudka/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<br>
<div class="list-group">
    {% for el in fulldesc %}
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{forloop.counter}}) {{ el.0 }}</h5>
        </div>
        <p class="mb-1">{{ el.1 }}</p>
      </a>
    {% endfor %}
</div><br>
<h1>Contacts</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <a class="btn btn-primary" href="/">{% trans "Main page" %}</a>
        <a class="btn btn-primary" href="{% url 'contacts_create' %}">{% trans "Create new" %}</a>
        <a class="btn btn-primary" href="{% url 'export_json' %}">{% trans "Export" %}</a>
        <a class="btn btn-primary" href="{% url 'import_json' %}">{% trans "Import" %}</a>
        <a class="btn btn-primary" href="{% url 'import_json_site' %}">{% trans "Import from site" %}</a>
        <a class="btn btn-primary" href="{% url 'myapi' %}">{% trans "API" %}</a>
    </div>
    <form class="form-inline" type="get" action=".">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Search</label>
        <input  class="form-control" id="search_box" type="text" name="search"  placeholder="Search..." >
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
</div>
<br>
<br>
{% if object_list %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Company</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Interest</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
            {% for record in object_list %}
        <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.company }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.interest }}</td>
                <td><a class="btn btn-light" href="{% url 'contacts_detail' pk=record.pk %}">{% trans "Details" %}</a></td>
                <td><a class="btn btn-light" href="{% url 'contacts_edit' pk=record.pk %}">{% trans "Edit" %}</a></td>
                <td><a class="btn btn-light" href="{% url 'contacts_delete' pk=record.pk %}">{% trans "Delete" %}</a></td>
        </tr>
      </tbody>
        {% empty %}
            No contacts yet.
        {% endfor %}
    </table>
    {% block pagination %}
        {% if is_paginated %}
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a  class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span><a class="page-link" href="#" tabindex="-1">&laquo;</a></span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item disabled"><span> <a class="page-link" href="#" tabindex="-1">{{ i }}</a></span></li>
              {% else %}
                <li  class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li  class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span><a class="page-link" href="#" tabindex="-1">&raquo;</a></span></li>
            {% endif %}
          </ul>
        {% endif %}
    {% endblock %} 
{% endif %}       
{% endblock %}
